<div class="flex flex-col w-full max-w-screen-xl bg-white">

    <!-- Main -->
    <div class="flex-auto">

        <!-- Header -->
        <div class="flex flex-col sm:flex-row md:flex-col flex-auto justify-between py-8 px-6 md:px-8 border-b">

            <!-- Title -->
            <div>
                <div class="text-4xl font-extrabold tracking-tight leading-none">Members</div>
                <div class="ml-0.5 font-medium text-secondary">
                    <ng-container *ngIf="memberCount > 0">
                        {{memberCount}}
                    </ng-container>
                    {{memberCount | i18nPlural: {
                    '=0' : 'No members',
                    '=1' : 'members',
                    'other': 'members'
                    } }}
                </div>
            </div>

            <!-- Main actions -->
            <div class="flex items-center mt-4 sm:mt-0 md:mt-4">
                <!-- Search -->
                <div class="flex-auto">
                    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-full min-w-50">
                        <mat-icon class="icon-size-5" matPrefix
                            [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                        <input matInput [formControl]="searchInputControl" [autocomplete]="'off'"
                            [placeholder]="'Search members'">
                    </mat-form-field>
                </div>
                <!-- Add member button -->
                <button class="ml-4" mat-flat-button [color]="'primary'" [routerLink]="['../', 'create']"
                    [queryParams]="{prop: 'xxx'}">
                    <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                    <span class="ml-2 mr-1">Add</span>
                </button>
            </div>
        </div>

        <!-- Contacts list -->
        <div class="relative">
            <ng-container *ngIf="members$ | async as members">
                <ng-container *ngIf="members?.content?.length; else noContacts">
                    <ng-container *ngFor="let member of members.content; let i = index; ">
                        <!-- Group -->
                        <ng-container
                            *ngIf="i === 0 || member.displayName.charAt(0) !== members.content[i - 1].displayName.charAt(0)">
                            <div
                                class="z-10 sticky top-0 -mt-px px-6 py-1 md:px-8 border-t border-b font-medium uppercase text-secondary bg-gray-50 dark:bg-gray-900">
                                {{member.displayName.charAt(0)}}
                            </div>
                        </ng-container>
                        <!-- Contact -->
                        <a class="z-20 flex items-center px-6 py-4 md:px-8 cursor-pointer border-b"
                            [ngClass]="{'hover:bg-gray-100 dark:hover:bg-hover': !selectedContact || selectedContact.id !== member.id,
                                        'bg-primary-50 dark:bg-hover': selectedContact && selectedContact.id === member.id}" [routerLink]="['../', member.id]">
                            <div class="flex flex-0 items-center justify-center w-10 h-10 rounded-full overflow-hidden">
                                <ng-container *ngIf="member.imageLink">
                                    <img class="object-cover w-full h-full" [src]="member.imageLink"
                                        alt="Contact avatar" />
                                </ng-container>
                                <ng-container *ngIf="!member.imageLink">
                                    <div
                                        class="flex items-center justify-center w-full h-full rounded-full text-lg uppercase bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                                        {{member.displayName.charAt(0)}}
                                    </div>
                                </ng-container>
                            </div>
                            <div class="min-w-0 ml-4">
                                <div class="font-medium leading-5 truncate">{{member.displayName}}</div>
                                <div class="leading-5 truncate text-secondary">{{member.title}}</div>
                            </div>
                        </a>
                    </ng-container>
                </ng-container>
            </ng-container>

            <!-- No members -->
            <ng-template #noContacts>
                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no
                    members!</div>
            </ng-template>

        </div>

    </div>

</div>